// Navigation code here
h1{
    border: 2px solid red;
    align-content: center;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
nav{
    border: 2px solid red;
    // display: flex;
    // justify-content: flex-start;
    // align-content: center;
    // align-items: center;
    // width: 320px;
    // padding-left: 32%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding-left: -32%;
        
    a{
        align-content: center;
        text-decoration: none;
        color:black;
        padding-right: 8%;
        font-size: 1.9rem;  
    }

    
}